#canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  color: #000;
  border-radius: 0.5em;
}
body {
  background-color: #2e2e2e;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.toolbar {
  display: flex;
  flex-direction: column;

  gap: 1em;
  min-width: 8em;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  gap: 1em;
  margin: 1em;
}
.toolbar-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
